
<% @eintraegepaginiert.each do |eintrag|%>
	<table>
		<tr>
			<th></th>
		</tr>
		<tr>
			<td>
			<div style='width:500;'>
				<div style="float: left; width: 100px; margin: 0; margin-top:10px; padding: 0;">
					<%= anzeigeButton(eintrag) %>
				</div>
				<div style="float: right; width: auto; margin: 0; margin-top:10px; padding: 0;">
					<% eintrag.tag_array.each do |tag| %>
					<%= label_tag tag, nil, :class => 'btn-primary' %>
					<% end %>
				</div>
				<div style=' margin-left:100px; margin-right: 100px;'>
					<!--<% if eintrag.kind_of? CodeSnippet %>
						<h2 class='anzeige' rel='popover' data-content='<%= html_escape(codeAnfaerben(eintrag.code)) %>' data-original-title='A Title'>
							<%= eintrag.titel %>
						</h2>
					<% else %>
					 	<h2></h2>
					<% end %>			-->			
					<%= code_snippet_hover(eintrag) %>
					<blockquote>	
					<p><%= eintrag.beschreibung %></p>
  					<small><%= eintrag.autor %></small>
					</blockquote>
					
				</div>
			</div>
		</td>
		</tr>
	</table>
	
<% end %>

<p><%= will_paginate @eintraegepaginiert %></p>

