<table class="table table-condensed table-striped">

	<% @eintraegepaginiert.each do |eintrag|%>
			<tr>
					<td>
						<%= anzeigeButton(eintrag) %>
					</td>
					
					<td>
						<%= code_snippet_hover(eintrag) %>
						<blockquote>	
						<p><%= beschreibung(eintrag) %></p>
	  					<small><%= eintrag.autor %></small>
						</blockquote>
				
					</td>
					<td>
						<% eintrag.tag_array.each do |tag| %>
						<%= label_tag tag, nil, :class => 'btn' %>
						<% end %>
					</td>
			</tr>
		
	<% end %>

</table>

<p><%= will_paginate @eintraegepaginiert %></p>

