

<% @eintraegepaginiert.each do |eintrag|%>
	<table>
		<tr>
			<th></th>
		</tr>
		<tr>
			<td>
			<div style='width:500;'>
				<div style="float: left; width: 100px; margin: 0; margin-top:10px; padding: 0;">
					<%= anzeigeButton(eintrag) %>
				</div>
				<div style=' margin-left:100px;'>

					<h2><%= eintrag.titel %></h2>
					<blockquote>	
  					<p><%= eintrag.beschreibung %></p>
  					<small><%= eintrag.autor %></small>
					</blockquote>
				
				</div>
				
			</div>
		</td>
		</tr>
	</table>
	
<% end %>

<p><%= will_paginate @eintraegepaginiert %></p>