<%= form_for(@code_snippet, :html => { :class => "well form-inline"} ) do |f| %>
  <% if @code_snippet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@code_snippet.errors.count, "error") %> prohibited this code_snippet from being saved:</h2>

      <ul>
      <% @code_snippet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titel %><br />
    <%= f.text_field :titel, :class => 'input-small span7' %>
  </div>
  <div class="field">
    <%= f.label :sprache %><br />
    <%= f.select :sprache, CodeSnippet::SPRACHE, {}, :class => 'controls span3' %>
  </div>
  <div class="field">
    <%= f.label :beschreibung %><br />
    <%= f.text_area :beschreibung, rows: 6, :class => 'imput-xlarge span7' %>
  </div>
  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_area :code, rows: 6, :class => 'imput-xlarge span7'  %>
  </div>
  <div class="field">
    <%= f.label :tags %><br />
    <%= f.text_field :tags, :class => 'input-small span7' %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
