<% content_for :die_box do %>
<% render 'kommentare/kommentare' %>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <b>Titel:</b>
  <%= @code_snippet.titel %>
</p>

<p>
  <b>Sprache:</b>
  <%= @code_snippet.sprache %>
</p>

<p>
  <b>Beschreibung:</b>
  <%= @code_snippet.beschreibung %>
</p>
<p>
  <b>Code:</b>
  <%= codeAnfaerben(@code_snippet.code) %>
</p>
