<!DOCTYPE html>
<html>
<head>
  <title>Shareit</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="containernav">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <%= link_to 'Shareit!',  root_path, :class => 'brand' %>
          <div class="btn-group pull-right">
            <div class="suchenfeld">
            <%= render 'suchen/suchen' %>
            </div>
             <div class="loginfeld">
            <%= render 'sessions/sessions' %>
            </div>
          </div>
          <div class="nav-collapse">
            <ul class="nav">
              <li><%= link_to 'Home',  root_path %></li>
              <li><%= link_to 'Teilen', new_link_path %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
     <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Ansehen</li>
              <li><%= link_to 'Anzeigen',  root_path %></li>
              <li class="nav-header">Teilen</li>
              <li><%= link_to 'Link',  new_link_path %></li>
              <li><%= link_to 'CodeSnippet', new_code_snippet_path %></li>
              <% if session[:user_id] %>
              <li class="nav-header"><%= wer %></li>
              <li><%= link_to 'Meine Links', links_path %></li>
              <li><%= link_to 'Meine CodeSnippets', code_snippets_path %></li>
              <% end %>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
      
    <div class="container main">
      <%= yield %>  
      <div class="dieBox">
          <!--<div class="well" style="min-height:300px;"> -->
            <%= yield :die_box %>
          <!--</div> -->
        </div>
    </div>
</body>
</html>
